.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.logo-link {
  padding-bottom: 27px;
  color: #fff;
  text-decoration: none;
}

.logo-link._2 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #1457ff;
  text-align: left;
}

.navigation-link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 40px;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
}

.navigation-secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 8px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, border-color 300ms ease;
  color: #080808;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.navigation-secondary:hover {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}

.icon-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-link {
  padding: 4px 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-decoration: none;
  white-space: nowrap;
}

.navigation-link:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  color: #080808;
}

.navigation-link.w--current {
  color: #642eff;
}

.navigation-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
}

.navigation-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 8px 12px 8px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  border-radius: 4px;
  background-color: #ea7462;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.navigation-button:hover {
  background-color: #c74e38;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button {
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  border-radius: 4px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #080808;
}

.menu-button:hover {
  color: #ea7462;
}

.menu-button.w--open {
  border-color: #ea7462;
  background-color: #ea7462;
  color: #fff;
}

.navigation {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 80px;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.logo {
  width: 124px;
}

.section-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 5% 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 464px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 16px;
}

.button-primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #1457ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
}

.button-primary:hover {
  background-color: #1237a5;
}

.header-logo-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #acb4c3;
}

.header-logo-card:hover {
  color: #07090d;
}

.paragraph-regular {
  max-width: 460px;
  margin-bottom: 0px;
  color: #818a9c;
  font-size: 16px;
  line-height: 28px;
}

.header-card-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #07090d;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.header-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 72px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1.1fr;
  grid-template-columns: 1fr 1.1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.navigation-button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 8px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  border-radius: 6px;
  background-color: #1457ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.navigation-button-2:hover {
  background-color: #0c3ebb;
}

.header-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  color: #07090d;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.menu-button-2 {
  padding: 8px;
  border-radius: 4px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.menu-button-2:hover {
  color: #1457ff;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.header-image-graphic {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
  object-fit: cover;
}

.navigation-link-2 {
  padding: 4px 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #586174;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-decoration: none;
  white-space: nowrap;
}

.navigation-link-2:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  color: #080808;
}

.navigation-link-2.w--current {
  color: #642eff;
}

.header-card {
  position: absolute;
  left: -10%;
  top: auto;
  right: auto;
  bottom: 32px;
  overflow: hidden;
  width: 100%;
  max-width: 304px;
  padding: 24px;
  border-style: solid;
  border-width: 4px;
  border-color: #edeff2;
  border-radius: 8px;
  background-color: #fff;
}

.button-arrow-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #acb4c3;
}

.header-logo-grid {
  margin-top: 84px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #edeff2;
  border-radius: 6px;
}

.hero-heading {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #07090d;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -0.02em;
}

.button-secondary-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px 12px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #edeff2;
  border-radius: 6px;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  color: #07090d;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.button-secondary-arrow:hover {
  background-color: #07090d;
  color: #fff;
}

.button-secondary-arrow._2 {
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.header-card-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-icon-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  min-height: 48px;
  min-width: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #1457ff;
  color: #fff;
}

.span-primary {
  color: #1457ff;
}

.m-h3-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.m-margin-bottom-08 {
  margin-bottom: 8px;
}

.m-text-color-blue {
  color: #1457ff;
}

.m-section-large {
  padding: 120px 5%;
  background-color: #fff;
  color: #fff;
}

.m-shape-wrapper {
  position: absolute;
  left: auto;
  top: -9%;
  right: -5%;
  bottom: auto;
}

.m-icon-regular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-container-large {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.m-feature-header-block {
  max-width: 620px;
}

.m-feature-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.m-feature-shape {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.m-subheading-large {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.m-feature-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-bottom: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #22242f;
}

.m-feature-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 24px;
  background-color: #111218;
  color: #fff;
  text-decoration: none;
}

.m-paragraph-small {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.m-paragraph-small.m-text-color-gray-400 {
  color: #868898;
}

.m-button-outline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 56px;
  padding: 8px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #333647;
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #7e8ef1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.m-button-outline:hover {
  border-color: #7e8ef1;
  color: #c8cef9;
}

.m-feature-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1060px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 720px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading-large {
  margin-top: 0px;
  color: #121f3e;
  font-size: 48px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.faq-paragraph {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #6d7d93;
  font-size: 16px;
  line-height: 32px;
}

.title {
  margin-bottom: 10px;
  color: #1457ff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.div-block {
  display: none;
  max-width: 32px;
  min-height: 4px;
  margin-bottom: 16px;
  background-color: #e9245c;
}

.faq-section {
  padding: 100px 3%;
}

.faq-grid {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
}

.question-title {
  color: #121f3e;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.container-2 {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.faq-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 34px;
  margin-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1457ff;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.footer-social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-link {
  margin-right: 4px;
  margin-left: 4px;
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.footer-link:hover {
  border: 1px solid #37456c;
  color: #fff;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  margin: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #1457ff;
}

.social-icon:hover {
  background-color: #fff;
  color: #1355ff;
}

.section-footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 100px 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1457ff;
  color: #000;
}

.footer-logo {
  width: 124px;
  margin-bottom: 32px;
}

.footer-link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-large {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-footer {
  max-width: 600px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.icon-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading {
  text-decoration: none;
}

.body {
  text-decoration: none;
}

.text-span {
  color: #1457ff;
}

.text-block {
  color: #1457ff;
}

.text-block-2 {
  color: #fff;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.text-link {
  color: #2246a1;
}

.section_cta8 {
  border-style: solid none none;
  border-width: 2px 1px 1px;
  border-color: #1457ff #000 #000;
}

.success-text {
  font-weight: 600;
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.signup-form-wrapper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cta8_form-block {
  max-width: 30rem;
  margin-bottom: 0px;
}

.text-size-tiny {
  font-size: 0.75rem;
}

.cta8_content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-size-medium {
  font-size: 1.125rem;
}

.cta8_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.error-message {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #1457ff;
  background-color: transparent;
  color: #1457ff;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  background-color: #82a4f8;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 0.5rem 0.75rem;
  border-style: solid;
  border-width: 1px;
  border-color: #1457ff;
  background-color: transparent;
  color: transparent;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:focus {
  border-color: #000;
}

.form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.error-text {
  color: #e23939;
}

.padding-global {
  padding-right: 5%;
  padding-left: 5%;
  color: #000;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.success-message {
  padding: 1.5rem;
  background-color: transparent;
}

.container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.heading-2 {
  color: #1457ff;
}

.text-block-3 {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .logo-link {
    margin-right: 0px;
  }

  .navigation-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navigation-link {
    width: 100%;
  }

  .navigation-menu {
    position: absolute;
    padding: 12px;
    border-radius: 8px;
    background-color: #1457ff;
    color: #fff;
  }

  .navigation-menu.w--open {
    border-color: #fff;
    background-color: #282556;
  }

  .menu-button.w--open {
    background-color: #ea7462;
  }

  .navigation {
    position: relative;
  }

  .header-image {
    display: none;
  }

  .header-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .menu-button-2.w--open {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #07090d;
  }

  .navigation-link-2 {
    width: 100%;
    color: #fff;
  }

  .navigation-link-2.w--current {
    color: #fff;
  }

  .header-card {
    left: 32px;
  }

  .header-logo-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .m-feature-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .m-feature-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .faq-grid {
    grid-row-gap: 22px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-footer {
    padding-bottom: 140px;
  }

  .footer-link-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .cta8_content {
    margin-right: 0rem;
  }

  .cta8_component {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .navigation-secondary {
    display: none;
  }

  .header-image {
    display: none;
  }

  .m-h3-heading {
    font-size: 40px;
  }

  .m-feature-header {
    margin-bottom: 60px;
  }

  .footer-wrapper {
    margin-bottom: 60px;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .cta8_content {
    margin-right: 0rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .cta8_component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .navigation-secondary {
    display: none;
  }

  .navigation-button {
    display: none;
  }

  .header-image {
    display: none;
  }

  .header-block {
    text-align: center;
  }

  .button-primary {
    width: 100%;
  }

  .paragraph-regular {
    font-size: 18px;
    line-height: 30px;
  }

  .header-card-title {
    font-size: 16px;
  }

  .navigation-button-2 {
    display: none;
  }

  .header-icon-wrapper {
    font-size: 28px;
  }

  .button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-card {
    left: 16px;
    bottom: 16px;
    max-width: 80%;
    padding: 16px;
  }

  .header-logo-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-heading {
    font-size: 2rem;
    line-height: 3.875rem;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .button-secondary-arrow {
    width: 100%;
  }

  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .m-feature-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .m-button-outline {
    width: 100%;
  }

  .question-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer-link {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .footer-link-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .signup-form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 0.75rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-be77c862-8caa-2d07-74f1-9d21c92e96b5-f4688472 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}